@import "../../../../assets/custom_variables"; //<- needs to be imported, otherwise above imports override $primary
//.docContainer {
//    width: 200px;
//    height:100px;
//}

a {
  display: block;
}

img {
  max-width: 52px;
}

.card {
  font-size: 1rem;
}


