$telekom-grau-1: rgb(164, 164, 164);
$telekom-grau-2: rgb(124, 124, 124);
$telekom-grau-3: rgb(108, 108, 108);
$telekom-grau-4: rgb(237, 237, 237);
$telekom-grau-5: rgb(75, 75, 75);
$telekom-grau-6: rgb(208, 208, 208);
$telekom-black: rgb(38, 38, 38);

$primary: #e20074;
$secondary: #c7c7c7;
$success: #6bb324;
$info: #53baf2;
$warning: #ff9a1e;
$danger: #d90000;
$font-family-base: telegrotesknextregular;
$font-size-base: 1.125rem;
